/* Device Sizes | Mobile - Default */
.section--image-with-text .section__information {
  padding: 2rem;
}
.section--image-with-text .section__information .section__header--title, .section--image-with-text .section__information .section__header--subtitle {
  text-align: left;
}
.section--image-with-text .section__information .section__button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.section--image-with-text .section__image {
  max-height: 500px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}
.section--image-with-text .image-first {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 990px) {
  .section--image-with-text .image-first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}