.section--logo-with-text .section__header p {
  margin: 0;
}
.section--logo-with-text .section__logo-and-text--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}
.section--logo-with-text .section__logo-and-text--logo svg, .section--logo-with-text .section__logo-and-text--logo img {
  max-height: 100px;
  width: auto;
}