@charset "UTF-8";
.section--app-block .jdgm-rev__buyer-badge {
  background-color: rgb(var(--color-base-accent-1)) !important;
  color: rgb(var(--color-base-solid-button-labels)) !important;
}
.section--app-block .jdgm-rev__icon::after {
  background-color: rgb(var(--color-base-accent-1)) !important;
  color: rgb(var(--color-base-solid-button-labels)) !important;
}
.section--app-block .jdgm-star {
  color: rgb(var(--color-base-accent-1)) !important;
}
.section--app-block .jdgm-histogram .jdgm-histogram__bar-content {
  background-color: rgb(var(--color-base-accent-1)) !important;
  background: rgb(var(--color-base-accent-1)) !important;
}
.section--app-block .jdgm-ask-question-btn, .section--app-block .jdgm-write-rev-link {
  border-color: rgb(var(--color-base-accent-1)) !important;
  color: rgb(var(--color-base-accent-1)) !important;
}
.section--app-block .jdgm-carousel-item__product-title, .section--app-block .jdgm-rev__prod-link {
  color: rgb(var(--color-base-accent-1)) !important;
}
.section--app-block .jdgm-carousel-wrapper {
  padding: 1rem 2rem !important;
  width: 100% !important;
  position: relative;
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__arrows {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% + 3.6rem);
  margin-left: -1.8rem;
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow, .section--app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow {
  border: none !important;
  border-style: none !important;
  -webkit-transform: none !important;
          transform: none !important;
  margin: 0 !important;
  position: relative;
  height: 38px;
  width: 38px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.75);
  background-color: rgb(var(--color-slider-control-bg));
  border-radius: 50%;
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow::after, .section--app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow::after {
  color: #ffffff !important;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  line-height: 0;
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow::after {
  content: "›";
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow::after {
  content: "‹";
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel--aligned-theme .jdgm-carousel-item__product-image {
  vertical-align: top;
}
.section--app-block .jdgm-branding-footer {
  display: none !important;
}