@charset "UTF-8";
.section--app-block .jdgm-rev__buyer-badge {
  background-color: rgb(var(--color-base-accent-1)) !important;
  color: rgb(var(--color-base-solid-button-labels)) !important;
}
.section--app-block .jdgm-rev__icon::after {
  background-color: rgb(var(--color-base-accent-1)) !important;
  color: rgb(var(--color-base-solid-button-labels)) !important;
}
.section--app-block .jdgm-star {
  color: rgb(var(--color-base-accent-1)) !important;
}
.section--app-block .jdgm-histogram .jdgm-histogram__bar-content {
  background-color: rgb(var(--color-base-accent-1)) !important;
  background: rgb(var(--color-base-accent-1)) !important;
}
.section--app-block .jdgm-ask-question-btn, .section--app-block .jdgm-write-rev-link {
  border-color: rgb(var(--color-base-accent-1)) !important;
  color: rgb(var(--color-base-accent-1)) !important;
}
.section--app-block .jdgm-carousel-item__product-title, .section--app-block .jdgm-rev__prod-link {
  color: rgb(var(--color-base-accent-1)) !important;
}
.section--app-block .jdgm-carousel-wrapper {
  padding: 1rem 2rem !important;
  width: 100% !important;
  position: relative;
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__arrows {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  margin-left: -2rem;
  margin-right: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow, .section--app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow {
  border: none !important;
  width: 20px;
  height: 20px;
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow::after, .section--app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow::after {
  position: absolute;
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__left-arrow::after {
  content: "‹";
}
.section--app-block .jdgm-carousel-wrapper .jdgm-carousel__right-arrow::after {
  content: "›";
}
.section--app-block .jdgm-branding-footer {
  display: none !important;
}