/* Device Sizes | Mobile - Default */
/* Device Sizes | Mobile - Default */
/* For @include*/
@-webkit-keyframes shine {
  0% {
    left: 0%;
    opacity: 0;
  }
  45% {
    opacity: 0.38;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 90%;
  }
}
@keyframes shine {
  0% {
    left: 0%;
    opacity: 0;
  }
  45% {
    opacity: 0.38;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 90%;
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes loading-dots-fadein {
  100% {
    opacity: 1;
    -webkit-filter: none;
            filter: none;
  }
}
@keyframes loading-dots-fadein {
  100% {
    opacity: 1;
    -webkit-filter: none;
            filter: none;
  }
}
@-webkit-keyframes loading-dots-first-dot {
  100% {
    -webkit-transform: translate(1em);
            transform: translate(1em);
    opacity: 1;
    -webkit-filter: none;
            filter: none;
  }
}
@keyframes loading-dots-first-dot {
  100% {
    -webkit-transform: translate(1em);
            transform: translate(1em);
    opacity: 1;
    -webkit-filter: none;
            filter: none;
  }
}
@-webkit-keyframes loading-dots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
}
@keyframes loading-dots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
            transform: translate(1em);
  }
}
@-webkit-keyframes loading-dots-last-dot {
  100% {
    -webkit-transform: translate(2em);
            transform: translate(2em);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@keyframes loading-dots-last-dot {
  100% {
    -webkit-transform: translate(2em);
            transform: translate(2em);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes loading-square {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(68px, 0) rotate(360deg);
            transform: translate(68px, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes loading-square {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(68px, 0) rotate(360deg);
            transform: translate(68px, 0) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    display: none;
  }
}
/* Reusable Classes */
.fade-out {
  -webkit-animation: fade-out 2.3s forwards;
          animation: fade-out 2.3s forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/* Reusable Classes */
.fade-in {
  -webkit-animation: fade-in 2.3s ease;
          animation: fade-in 2.3s ease;
}

/*For Pulse Effect*/
@-webkit-keyframes pulse-effect {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes pulse-effect {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
.section--email-signup-v2 .newsletter-form__field-wrapper {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.section--email-signup-v2 .newsletter-form__field-wrapper .field__button {
  margin-left: auto;
  margin-right: auto;
}
.section--email-signup-v2 .newsletter-form__field-wrapper .field {
  text-align: center;
  position: relative;
}
.section--email-signup-v2 .newsletter-form__field-wrapper .field::before, .section--email-signup-v2 .newsletter-form__field-wrapper .field::after {
  display: none !important;
}
.section--email-signup-v2 .newsletter-form__field-wrapper .field:not(:last-of-type) {
  margin-bottom: 2rem;
}
.section--email-signup-v2 .newsletter-form__field-wrapper .field__input {
  height: 100%;
  margin: 0;
  padding-right: 1rem;
  outline: none;
  border: 1px solid rgb(var(--color-foreground)) !important;
}
.section--email-signup-v2 .newsletter-form__field-wrapper .field__input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.section--email-signup-v2 .newsletter-form__field-wrapper .newsletter-form__message--error {
  width: 100%;
  margin-bottom: 2rem;
}
.section--email-signup-v2 .newsletter-form {
  max-width: 100%;
}
.section--email-signup-v2 .section__header--subtitle {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}