@import 'abstract/mixin';
.signup{
    position: relative;
    overflow: hidden;

    .section__form{
        width: 100%;

        .field-wrapper{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .field--input-button{
            &::before, &::after{
                display: none !important;
            }
        }

        .btn--default{
            padding: 1.4rem 1rem;
        }

        .field{
            margin-bottom: 1rem;
        }

    }

    @include device('tablet-up'){
        
        .section__form{
            max-width: 60%;

            .field-wrapper{
                justify-content: space-between;
                flex-direction: row;
            }

            .field:not(:last-of-type){
                margin-right: 1rem;
            }
            .field{
                margin-bottom: 0rem;
            }

            .btn--default{
                max-width: 150px;
            }
        }
    }

}