@import 'abstract/mixin';
.featured-video{
    position: relative;
    overflow: hidden;

    .section__header{
        & *{
            color: rgba(var(--color-base-accent-2));
        }
    }

    slider-component{
        position: relative;
        overflow: hidden;
        display: grid;
        justify-content: center;
        align-items: center;

        ul{
            padding-left: 1rem;
            padding-right: 1rem;
            margin-left: -0.9rem;
            margin-right: -0.9rem;
        }

        .slider-buttons{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            pointer-events: none;
            z-index: 3;

            .slider-button{
                height: 100%;
                pointer-events: all;
                svg{
                    height: 1.14rem;
                    width: auto;
                }
            }
        }

        &~*{
            grid-area: 1/1;
        }
    }

    ul.grid{
        @include device('mobile'){
            &{
                margin-bottom: 2rem;
            }
        }
    }

    .grid__item{
        display: grid;

        deferred-media{
            grid-area: 1/1;
        }
        
        @include device('mobile'){
            &:not(.slider__slide):not(:last-of-type){
                margin-bottom: 2rem;
            }
        }
    }
}